<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/admin/administrar-turnos.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>Listado de Turnos</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">MiTurno</div>
    </div>
    <main class="admin-main-content">
        <div class="admin-page-header">
            <h1 class="admin-page-title">Listado de Turnos</h1>
            <a th:href="@{/index}" class="admin-btn-volver">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </div>
        <div class="admin-turnos-grid">
            <div th:each="turno : ${turnos}" class="admin-turnos-card">
                <div class="admin-turno-info">
                    <div class="admin-turno-row">
                        <i class="fas fa-user"></i>
                        <span class="admin-turno-label">Turno para:</span>
                        <span class="admin-turno-value" th:text="${turno.cliente.nombre}">Nombre Cliente</span>
                    </div>
                    <div class="admin-turno-row">
                        <i class="fas fa-stethoscope"></i>
                        <span class="admin-turno-label">Servicio:</span>
                        <span class="admin-turno-value" th:text="${turno.servicio.nombre}">Servicio</span>
                    </div>
                    <div class="admin-turno-row">
                        <i class="fas fa-location-dot"></i>
                        <span class="admin-turno-label">Lugar:</span>
                        <span class="admin-turno-value" th:text="${turno.lugar.direccion.calle + ' ' + turno.lugar.direccion.altura}">Dirección</span>
                    </div>
                    <div class="admin-turno-row">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="admin-turno-label">Fecha:</span>
                        <span class="admin-turno-value" th:text="${#temporals.format(turno.disponibilidad.inicio, 'dd/MM/yyyy HH:mm')}">Fecha</span>
                    </div>
                </div>
                <div class="admin-form-actions">
                    <a th:href="@{'/admin/turnos/' + ${turno.id} + '/modificar-turnos'}" class="admin-btn-submit">
                        <i class="fas fa-eye"></i> Ver detalles
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>