<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
	<link th:href="@{/css/turnos.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>Listado de Turnos</title>
</head>
<body>
    <div class="navbar">
        <div class="brand">MiTurno</div>
    </div>
    <main class="main-content">
        <h1 class="page-title">Listado de Turnos</h1>
        <div class="turnos-grid">
            <div th:each="turno : ${turnos}" class="turnos-card">
                
                <div class="turno-info">
                    <div class="turno-row">
                        <i class="fas fa-user"></i>
                        <span class="turno-label">Turno para:</span>
                        <span class="turno-value" th:text="${turno.cliente.nombre}"></span>
                    </div>
                    <div class="turno-row">
                        <i class="fas fa-stethoscope"></i>
                        <span class="turno-label">Servicio:</span>
                        <span class="turno-value" th:text="${turno.servicio.nombre}"></span>
                    </div>
                    <div class="turno-row">
                        <i class="fas fa-location-dot"></i>
                        <span class="turno-label">Lugar:</span>
                        <span class="turno-value" th:text="${turno.lugar.direccion.calle} + ' ' + ${turno.lugar.direccion.altura}"></span>
                    </div>
                    <div class="turno-row">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="turno-label">Fecha:</span>
                        <span class="turno-value" th:text="${#temporals.format(turno.disponibilidad.inicio, 'dd/MM/yyyy HH:mm')}"></span>
                    </div>
                </div>
                
                <div class="form-actions">
                    <a th:href="@{'/admin/turnos/' + ${turno.id} + '/modificar-turnos'}" class="btn-submit">
                        <i class="fas fa-eye"></i> Ver detalles
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>