<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Profesionales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <div class="navbar">
        <div class="brand">MiTurno</div>
        <a th:href="@{/admin/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user profile-icon"></i>
        </a>
    </div>
    <div class="admin-section">
		<div class="admin-title-with-btn">
            <div class="admin-title">
                <i class="fas fa-user-md"></i> Lista de Profesionales
            </div>
            <a th:href="@{/admin/administrar-profesional}" class="volver-btn" title="Volver atrás">
                <i class="fas fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </div>
        <div class="profesionales-grid">
            <a th:each="profesional : ${profesionales}"
               th:href="@{'/profesionales/' + ${profesional.id} + '/modificar'}"
               class="profesional-card">
                <div class="profesional-title">
                    <i class="fas fa-id-badge"></i>
                    <span th:text="${profesional.nombre}"></span>
                </div>
                <div>
                    <i class="fas fa-hashtag"></i>
                    <span th:text="'Matrícula: ' + ${profesional.matricula}"></span>
                </div>
                <div>
                    <i class="fas fa-stethoscope"></i>
                    <span th:text="${profesional.especialidad != null ? profesional.especialidad.nombre : 'Sin especialidad'}"></span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>