<tr th:each="turno : ${turnos}">
    <td th:text="${turno.profesional.nombre}">Nombre Profesional</td>
    <td th:text="${turno.profesional.especialidad.nombre}">Nombre Especialidad</td>
    <td>
        <a th:href="@{'/turnos/detalle/' + ${turno.id}}">
            <button class="ver-btn">Ver Detalle</button>
        </a>
        <a th:href="@{'/turnos/eliminar/' + ${turno.id}}"
           onclick="return confirm('¿Estás seguro de eliminar este turno?')">
            <button class="cancelar-btn">Eliminar</button>
        </a>
    </td>
</tr>