<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar Turno</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>
<body>

    <h1>Modificar Turno</h1>

	<form th:action="@{'/admin/turnos/'+ ${turno.id} +'/modificar-turnos'}" th:object="${turno}" method="post">
	    <input type="hidden" th:field="*{id}" />

	    <label>Servicio:</label>
	    <input type="text" th:field="*{servicio.nombre}" readonly />

	    <label>Profesional:</label>
	    <input type="text" th:field="*{profesional.nombre}" readonly />

	    <label>Lugar de atención:</label>
	
		<select name="lugarId">
		    <option th:each="lugar : ${lugares}" 
		            th:value="${lugar.id}" 
		            th:text="${lugar.direccion.calle + ' ' + lugar.direccion.altura}"
		            th:selected="${lugar.id == turno.lugar.id}">
		    </option>
		</select>
	    <button type="submit">Guardar cambios</button>
	</form>

</body>
</html>