<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lugares para [[${servicio.nombre}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/cliente/lugares.css}" rel="stylesheet"/>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
	<div class="navbar">
        <a th:href="@{/index}" class="navbar-brand">MiTurno</a>
        <a th:href="@{/cliente/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user navbar-profile-icon"></i>
        </a>
    </div>
    <div class="cliente-section">
        <div class="cliente-title-with-btn">
            <div class="cliente-title">
                <i class="fas fa-map-marker-alt"></i>
                Lugares disponibles para: <span th:text="${servicio.nombre}"></span>
            </div>
            <a th:href="@{/cliente/servicios}" class="cliente-btn-volver" title="Volver a servicios">
                <i class="fas fa-arrow-left"></i>
                <span>Volver a servicios</span>
            </a>
        </div>
        <div th:if="${lugares != null and !lugares.isEmpty()}" class="cliente-lugares-grid">
            <div th:each="lugar : ${lugares}" class="cliente-lugar-card">
                <div class="cliente-lugar-title">
                    <i class="fas fa-map-marker-alt"></i>
                    <span th:text="${lugar.direccion.calle} +' ' + ${lugar.direccion.altura}"></span>
                </div>
                <div>
                    <i class="fas fa-city"></i>
                    <span th:text="${lugar.direccion.localidad.nombre}"></span>
                    <span>, </span>
                    <i class="fas fa-flag"></i>
                    <span th:text="${lugar.direccion.provincia.nombre}"></span>
                </div>
                <div class="cliente-lugar-horario">
                    <i class="fas fa-clock"></i>
                    <span th:text="${lugar.horarioApertura} + ' - ' + ${lugar.horarioCierre}"></span>
                </div>
            </div>
        </div>
        <div th:if="${lugares == null or lugares.isEmpty()}">
            <p>No hay lugares disponibles para este servicio actualmente.</p>
        </div>
    </div>
</body>
</html>