<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lugares Disponibles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/cliente/lugares.css}" rel="stylesheet"/>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
	<div class="navbar">
        <div class="navbar-brand">MiTurno</div>
        <a th:href="@{/cliente/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user navbar-profile-icon"></i>
        </a>
    </div>
    <div class="cliente-section">
        <div class="cliente-title-with-btn">
            <div class="cliente-title">
                <i class="fas fa-map-marker-alt"></i> Lista de Lugares Disponibles
            </div>
            <a th:href="@{/index}" class="cliente-btn-volver" title="Volver atrás">
                <i class="fas fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </div>
        <div class="cliente-lugares-grid">
            <a th:each="lugar : ${lugares}"
               th:href="@{'/cliente/lugar/' + ${lugar.id} + '/servicios'}"
               class="cliente-lugar-card">
                <div class="cliente-lugar-title">
                    <i class="fas fa-map-marker-alt"></i>
                    <span th:text="${lugar.direccion.calle} + ' ' + ${lugar.direccion.altura}"></span>
                </div>
                <div>
                    <i class="fas fa-flag"></i>
                    <span th:text="${provinciasMap[lugar.direccion.provinciaId]}"></span>
                </div>
                <div>
                    <i class="fas fa-city"></i>
                    <span th:text="${localidadesMap[lugar.direccion.localidadId]}"></span>
                </div>
                <div class="cliente-lugar-horario">
                    <i class="fas fa-clock"></i>
                    <span>
                        <span th:text="'Apertura: ' + ${#strings.substring(lugar.horarioApertura, 0, 5)}"></span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <span th:text="'Cierre: ' + ${#strings.substring(lugar.horarioCierre, 0, 5)}"></span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>