<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/cliente/perfil.css}" rel="stylesheet"/>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
	<div class="navbar">
        <a th:href="@{/index}" class="navbar-brand">MiTurno</a>
        <a th:href="@{/cliente/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user navbar-profile-icon"></i>
        </a>
    </div>
    <div class="cliente-main-content">
        <div class="cliente-profile-card">
            <div class="cliente-profile-card-icon">
                <i class="fas fa-id-card"></i>
            </div>
            <div class="cliente-profile-card-title">Mi Perfil</div>
            <ul class="cliente-profile-list">
                <li>
                    <b>Nro Cliente:</b>
                    <span th:text="${cliente.nroCliente}"></span>
                </li>
                <li>
                    <b>Nombre:</b>
                    <span th:text="${cliente.nombre}"></span>
                </li>
                <li>
                    <b>DNI:</b>
                    <span th:text="${cliente.dni}"></span>
                </li>
            </ul>
            <div class="cliente-profile-buttons">
                <a th:href="@{/cliente/modificar-contacto}" class="cliente-profile-btn">
                    <i class="fas fa-user-edit"></i> Modificar contacto
                </a>
				<a th:if="${cliente.contacto.direccion == null}" th:href="@{/cliente/modificar-direccion}" class="cliente-profile-btn">
				    <i class="fas fa-map-marker-alt"></i> Agregar dirección
				</a>
				<a th:if="${cliente.contacto.direccion != null}" th:href="@{/cliente/modificar-direccion}" class="cliente-profile-btn">
				    <i class="fas fa-map-marker-alt"></i> Modificar dirección
				</a>
				<a th:href="@{/cliente/cambiar-contraseña}" class="cliente-profile-btn">
					<i class="fas fa-pen"></i> Cambiar contraseña
				</a>
                <a th:href="@{/index}" class="cliente-profile-btn">
                    <i class="fas fa-home"></i> Volver al inicio
                </a>
				<a th:href="@{/cliente/eliminar-cuenta}" class="cliente-profile-btn cliente-profile-btn-delete-account">
                    <i class="fas fa-user-slash"></i> Eliminar cuenta
                </a>
                <a th:href="@{/cliente/logout}" class="cliente-profile-btn cliente-profile-btn-logout">
                    <i class="fas fa-key"></i> Cerrar sesión
                </a>
            </div>
        </div>
    </div>
</body>
</html>