<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Servicios Disponibles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/cliente/servicios.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
	<div class="navbar">
        <div class="navbar-brand">MiTurno</div>
        <a th:href="@{/cliente/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user navbar-profile-icon"></i>
        </a>
    </div>
    <div class="cliente-section">
        <div class="cliente-title-with-btn">
            <div class="cliente-title">
                <i class="fas fa-list"></i> Servicios Disponibles
            </div>
            <a th:href="@{/index}" class="cliente-btn-volver" title="Volver atrás">
                <i class="fas fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </div>
        <div class="cliente-servicios-grid">
            <a class="cliente-servicio-card" 
               th:each="servicio : ${servicios}" 
               th:href="@{'/cliente/servicios/' + ${servicio.id} + '/lugares'}"
               style="text-decoration: none;">
                <div class="cliente-servicio-title">
                    <i class="fas fa-concierge-bell"></i>
                    <span th:text="${servicio.nombre}">Nombre del Servicio</span>
                </div>
                <div>
                    <i class="fas fa-align-left"></i>
                    <span th:text="${servicio.descripcion}">Descripción del servicio</span>
                </div>
                <div class="cliente-servicio-horario">
                    <i class="fas fa-dollar-sign"></i>
                    <span th:text="${#numbers.formatDecimal(servicio.precio, 1, 'COMMA', 2, 'POINT')}">0.00</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>