<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Servicios en [[${lugar.direccion.calle}]] [[${lugar.direccion.altura}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/cliente/lugares.css}" rel="stylesheet"/>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
	<div class="navbar">
        <div class="navbar-brand">MiTurno</div>
        <a th:href="@{/cliente/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user navbar-profile-icon"></i>
        </a>
    </div>
    <div class="cliente-section">
		<div class="cliente-title-with-btn">
	        <div class="cliente-title">
	            <i class="fas fa-map-marker-alt"></i>
	            Servicios disponibles en: <span th:text="${lugar.direccion.calle} + ' ' + ${lugar.direccion.altura}"></span>
	        </div>
	        <a th:href="@{/cliente/lugares}" class="cliente-btn-volver" title="Volver a lugares">
	            <i class="fas fa-arrow-left"></i>
	            <span>Volver a lugares</span>
	        </a>
	    </div>
        <div th:if="${servicios != null and !servicios.isEmpty()}" class="cliente-lugares-grid">
            <div th:each="servicio : ${servicios}" class="cliente-lugar-card">
                <div class="cliente-lugar-title">
                    <i class="fas fa-concierge-bell"></i>
                    <span th:text="${servicio.nombre}">Nombre del Servicio</span>
                </div>
                <div>
                    <i class="fas fa-align-left"></i>
                    <span th:text="${servicio.descripcion}">Descripción del servicio</span>
                </div>
                <div class="cliente-lugar-horario">
                    <i class="fas fa-dollar-sign"></i>
                    <span th:text="${#numbers.formatDecimal(servicio.precio, 1, 'COMMA', 2, 'POINT')}">0.00</span>
                </div>
            </div>
		</div>
		<div th:if="${servicios == null or servicios.isEmpty()}">
            <p>No hay servicios disponibles en este lugar actualmente.</p>
        </div>
    </div>
</body>
</html>