<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Especialidades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <div class="navbar">
        <div class="brand">MiTurno</div>
    </div>
    <div class="admin-section">
        <div class="admin-title-with-btn">
            <div class="admin-title">
                <i class="fas fa-map-marker-alt"></i> Lista de Especialidades
            </div>
            <a th:href="@{/admin/administrar-especialidades}" class="volver-btn" title="Volver atrás">
                <i class="fas fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </div>
        <div class="especialidades-grid">
            <a th:each="espe : ${especialidades}"
               th:href="@{'/especialidades/' + ${espe.id} + '/modificar'}"
               class="especialidad-card">
                <div class="especialidad-title">
                    <i class="fas fa-map-marker-alt"></i>
                    <span th:text="${espe.nombre}"></span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>