<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Servicios Habilitados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/profesional/servicios.css}" rel="stylesheet"/>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
	<div class="navbar">
        <a th:href="@{/index}" class="navbar-brand">MiTurno</a>
        <a th:href="@{/profesional/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user-md navbar-profile-icon"></i>
        </a>
    </div>
    <div class="profesional-section">
        <div class="profesional-title-with-btn">
            <div class="profesional-title">
                <i class="fas fa-briefcase-medical"></i> Servicios Habilitados
            </div>
            <a th:href="@{/index}" class="profesional-btn-volver" title="Volver atrás">
                <i class="fas fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </div>
        <div class="profesional-servicios-grid">
            <div th:each="servicio : ${servicios}" class="profesional-servicio-card">
                <div class="profesional-servicio-title">
                    <i class="fas fa-stethoscope"></i>
                    <span th:text="${servicio.nombre}">Nombre del Servicio</span>
                </div>
                <div class="profesional-servicio-info">
                    <i class="fas fa-file-alt"></i>
                    <span th:text="${servicio.descripcion}">Descripción</span>
                </div>
                <div class="profesional-servicio-info">
                    <i class="fas fa-dollar-sign"></i>
                    <span th:text="${#numbers.formatDecimal(servicio.precio, 1, 'COMMA', 2, 'POINT')}"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>