<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Profesional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/profesional/perfil.css}" rel="stylesheet"/>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">MiTurno</div>
        <a th:href="@{/profesional/perfil}" title="Ir a mi perfil">
            <i class="fas fa-user-md navbar-profile-icon"></i>
        </a>
    </div>
    <div class="profesional-main-content">
        <div class="profesional-profile-card">
            <div class="profesional-profile-card-icon">
                <i class="fas fa-user-md"></i>
            </div>
            <div class="profesional-profile-card-title">Mi Perfil</div>
            <ul class="profesional-profile-list">
                <li>
                    <b>Nombre:</b>
                    <span th:text="${profesional.nombre}"></span>
                </li>
                <li>
                    <b>DNI:</b>
                    <span th:text="${profesional.dni}"></span>
                </li>
                <li>
                    <b>Número de Matrícula:</b>
                    <span th:text="${profesional.matricula}"></span>
                </li>
                <li>
                    <b>Especialidad:</b>
                    <span th:text="${profesional.especialidad != null && profesional.especialidad.nombre != null ? profesional.especialidad.nombre : 'Sin Especialidad'}"></span>
                </li>
            </ul>
            <div class="profesional-profile-buttons">
                <a th:href="@{/profesional/modificar-contacto}" class="profesional-profile-btn">
                    <i class="fas fa-user-edit"></i> Modificar contacto
                </a>
                <a th:if="${profesional.contacto.direccion == null}" th:href="@{/profesional/modificar-direccion}" class="profesional-profile-btn">
                    <i class="fas fa-map-marker-alt"></i> Agregar dirección
                </a>
                <a th:if="${profesional.contacto.direccion != null}" th:href="@{/profesional/modificar-direccion}" class="profesional-profile-btn">
                    <i class="fas fa-map-marker-alt"></i> Modificar dirección
                </a>
                <a th:href="@{/profesional/cambiar-contraseña}" class="profesional-profile-btn">
                    <i class="fas fa-pen"></i> Cambiar contraseña
                </a>
                <a th:href="@{/index}" class="profesional-profile-btn">
                    <i class="fas fa-home"></i> Volver al inicio
                </a>
                <a th:href="@{/logout}" class="profesional-profile-btn profesional-profile-btn-logout">
                    <i class="fas fa-key"></i> Cerrar sesión
                </a>
            </div>
        </div>
    </div>
</body>
</html>