<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Servicio</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        <div class="brand">MiTurno</div>
    </div>
    <div class="main-content">
        <h2>Agregar Servicio</h2>
        <form th:action="@{/servicios/agregar}" th:object="${servicio}" method="post">
            <label for="nombre">Nombre:</label>
            	<input type="text" id="nombre" th:field="*{nombre}" required />
            <br/>
            <label for="descripcion">Descripción:</label>
            	<textarea id="descripcion" th:field="*{descripcion}" required></textarea>
            <br/>
			<label for="precio">Precio:</label>
            	<textarea id="precio" th:field="*{precio}" required></textarea>
            <br/>
			<button type="submit">Guardar</button>
        </form>
        <a th:href="@{/admin/administrar-servicios}">Volver</a>
    </div>
</body>
</html>